#root {
    width: 100%; 
    max-width: 100%; 
    margin: 0 auto;
    padding: 0; 
    text-align: center;
}

body {
    margin: 0; 
}

main {
    padding: 2rem;  Keep padding for the main content 
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

.containerbox {
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
    background-color: white;
    padding: 20px;
    text-align: left;
}
