body {
    margin: 0;
    font-family: Arial, sans-serif; /* Ensure a clean, modern font */
}

.typeracer-container {
    /*display: flex;*/
    flex-direction: column; /* Stack elements vertically */
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f9; /* Light background for better contrast */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    position: relative;
}



.elapsed-time {
    /*display: flex;*/
    font-family: monospace;
    font-size: 1.25rem;
    color: #333;
    padding-top:15px;
    margin: 0;
}

.typeracer-heading {
    font-family: monospace;
    font-size: 3rem;
    color: #333;
    margin: 0; /* Remove default margin */
}

.typeracer-text {
    font-family: monospace;
    text-align: left;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 20px;
    white-space: pre-wrap; /* Preserve spaces and line breaks */
}

.typeracer-input {
    width: 100%;
    border: 1px solid black;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-sizing: border-box; /* Ensures padding doesn't affect the width */
}

.green-typed {
    color: green;
}

.current-word {
    color: black;
    text-decoration: underline;
}

.to-be-typed {
    color: grey;
}

.red-text {
    color: red;
}

.typeracer-input:focus {
    border-color: #007bff; /* Highlight input field on focus */
}

.countdown-text {
    font-size: 1.5rem;
    color: #ff6f61; /* Orange color for countdown */
}

.playing-text {
    font-size: 1.2rem;
    color: #333;
}
.headingLol {
    display: flex;
    flex-direction:row-reverse;
    justify-content:space-between;
}
