.stats-display {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    background-color: #f9f9f9;
    max-width: 450px;
    margin: 20px auto;
    text-align: center;
}
.stats {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.stats-display h2 {
    margin-top: 0;
    color: #333;
}

.stats-display p {
    font-size: 16px;
    color: #666;
}

.next-quote-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 16px 32px;
    cursor: pointer;
    font-size: 18px;
}

.next-quote-button:hover {
    background-color: #0056b3;
}


