body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.typeracer-container {
    /*display: flex;*/
    /*flex-direction: column;*/ /* Stack elements vertically */
    width: 100%;
    margin-top:100px;
    padding: 20px;
    background-color: #f4f4f9;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}



.elapsed-time {
    /*display: flex;*/
    font-family: monospace;
    font-size: 1.25rem;
    color: #333;
    padding-top:15px;
    margin: 0;
}

.typeracer-heading {
    font-family: monospace;
    font-size: 3rem;
    color: #333;
    margin: 0;
}

.typeracer-text {
    font-family: monospace;
    text-align: left;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 20px;
    white-space: pre-wrap;
}

.typeracer-input {
    width: 100%;
    border: 1px solid black;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    box-sizing: border-box;
}

.green-typed {
    color: green;
}

.current-word {
    color: black;
    text-decoration: underline;
}

.to-be-typed {
    color: grey;
}

.red-text {
    color: red;
}

.typeracer-input:focus {
    border-color: #007bff;
}

.countdown-text {
    font-size: 1.5rem;
    color: #ff6f61;
}

.playing-text {
    font-size: 1.2rem;
    color: #333;
}
.headingLol {
    display: flex;
    flex-direction:row-reverse;
    justify-content:space-between;
}
